h1 {
  color: blue;
}
button {
  color: brown;
  background-color: red;
}
body {
  background-color: skyblue;
}
.box {
  height: 200px;
  width: 200px;
  border: 2px solid black;
  margin-left: 500px;
  background-color: green;
}

.text:hover {
  color: green;
}
